body {
  font-family: sans-serif;
  margin: 0;
  font-size: 14px;
}

button {
  font-weight: bold;
  font-size: 1em;
  border: none;
  color: white;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
  padding: 5px;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  padding-top: 100px;
  background-color: #f2f0e7;
}

.main::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: inherit;
}

.header {
  background-color: #a42f1f;
  color: white;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
}

.header>.left {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left>.image {
  background-color: lightgray;
  height: 50px;
  width: 200px;
}

.header>.right {
  width: 100%;
  display: flex;
  justify-content: center;
}

.right>span {
  padding: 10px;
}

.accounts-dialog{
  background-color: white;
  width: 100%;
}

.login-close-text {
  color: white;
  position: relative;
  width: 100%;
}

.login-close-text::before {
  content: 'X';
  color: black;
  position: absolute;
  right: 0
}

.accounts-dialog>form{
  background-color: white;
  display: flex;
  flex-direction: column;
}

.login-buttons-dropdown-align- {
  width: 80%;
}

.login-form {
  height: 100%;
  display: flex;
  justify-content: center;
  color: #a42f1f;
}

.login-form>div>label {
  font-weight: bold;
}

.login-form>div>input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  font-size: 1em;
}

.login-form>div>input:focus {
  outline: 0;
}
#login-email-label, #login-password-label {
  color: black;
}

#login-buttons-password, #login-buttons-forgot-password {
  background-color: #a42f1f !important;
  margin-top: 20px!important;
}

.additional-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

@media (min-width: 500px) {
  .header{
    height: 100px;
    display: flex;
    flex-direction: row;
  }
  .header>.left {
    align-items: center;
  }

  .header>.right {
    align-items: center;
  }
  .login-buttons-dropdown-align- {
    width: 400px;
  }
}